{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 mx-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb shadow p-2 mb-3 bg-white rounded">
                <li class="breadcrumb-item"><a href=""><small><b>Source</b></small></a></li>
                <li class="breadcrumb-item active" aria-current="page"><small><b>My Sources</small></b></li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2 mx-auto">
            <a href="{% url 'add-source' %}"><button class="add">Add</button></a>
        </div>
    </div>
    <div class="container mt-3">
        {% if usersources.count %}
        
        <div class="app-table">
            <table class="content-table mx-auto">
                <thead>
                    <tr>
                        <th width="200">Source</th>
                        <th>Operations</th>
                    <tr>
                </thead>
                
                <tbody>
                    
                    {% for usersource in usersources %}
                    <tr>
                        <td>{{usersource.usersource}}</td>
                        <td><a href="{% url 'source-delete' usersource.usersource %}"><img src="{% static 'img/delete.png' %}" width="30" height="30"/></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <h4>No source added</h4>
        {% endif %}
    </div>
</div>


{% endblock content %}