{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-3"> 
    <div class="row">
        <div class="mx-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb shadow p-2 mb-3 bg-white rounded">
                <li class="breadcrumb-item"><a href="budget"><small><b>Budget Summary</b></small></a></li>
                <li class="breadcrumb-item active" aria-current="page"><small><b>Summary</b></small></li>
                </ol>
            </nav>
        </div>
    <div>
    <div>
        <h2 class="mx-2">{{monthname}} Budget Summary</h2> 
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="content-table mx-2">
                <thead>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Category</th>
                        <th>Budget Amount<br>Spend/Total</th>
                    </tr>
                </thead>
                {% for key,value in categoryTable.items %}
                <tbody>
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{key}}</td>
                        <td>{{value}}/{{budgetTable|get_item:key}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-6">
            <div id="form-body">
                <div id="container">
                    <div class="chartBox form-wrap mt-2">
                        <form method="post" action="{% url 'bstats' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="Category">Category</label>
                                <select style="height:17%;" name="cateory" onchange="this.form.submit()">
                                    <option>Food</option>
                                    <option>Family</option>
                                </select>
                            </div>
                        </form>
                        <div>
                            <canvas id="bmyChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const renderChart = (data, labels) => {
        const ctx = document.getElementById('bmyChart').getContext('2d');
        const bmyChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Last 6 months budget',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132)',
                        'rgba(54, 162, 235)',
                        'rgba(255, 206, 86)',
                        'rgba(75, 192, 192)',
                        'rgba(153, 102, 255)',
                        'rgba(255, 159, 64)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Food budget Summary",
                }
            }
        });
    }
    
    const getChartData = () => {
        fetch('http://127.0.0.1:8000/budget/budget_source_summary')
            .then((res) => res.json())
            .then((results) => {
                console.log("results", results);
                const source_data = results.budget_source_data;
                const [labels, data] = [Object.keys(source_data), Object.values(source_data),];
                renderChart(data, labels);
            });
    };
    
    document.onload = getChartData();

</script>

{% endblock content %}