{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container mt-3"> 
    <div class="row">
        <div class="mx-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb shadow p-2 mb-3 bg-white rounded">
                <li class="breadcrumb-item"><a href="{% url 'budget' %}"><small><b>Budget</b></small></a></li>
                <li class="breadcrumb-item active" aria-current="page"><small><b>Edit Budget Amount</b></small></li>
                </ol>
            </nav>
        </div> 
    
        <div class="form-body">
            <div id="container">
                <div class="form-wrap">
                    <h2>Edit {{budget_amount.category}} Budget Amount</h2>
                    <form action="{% url 'budget-edit' budget_amount.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">  
                        <label for="">{{budget_amount.category}}</label>
                        <input step=any type="number" name="category" value="{{budget_amount.amount}}"/>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}