{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 mx-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb shadow p-2 mb-3 bg-white rounded">
                <li class="breadcrumb-item"><a href="{% url 'budget' %}"><small><b>Budget</b></small></a></li>
                <li class="breadcrumb-item active" aria-current="page"><small><b>My Budget</b></small></li>
                </ol>
            </nav>
        </div>
        <div class="col-md-1">
            <a href="{% url 'add-budget' %}"><button class="add">Add</button></a>
        </div>
        {% if budgetset == 'set' %}
        <div class="col-md-1">
            <a href="{% url 'budget-delete' budgets.id %}"><button onclick="checker()" class="add">Delete</button></a>
        </div>
    </div>
    <div class="container">
        <div class="app-table">
            <br><h2>{{month}} Budgets</h2>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Category</th>
                        <th>Budget Amount</th>
                        <th>Edit Budget Amount</th>
                    </tr>
                </thead>
                
                <tbody>
                    
                    {% for amount in budget_amount %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{amount.category}}</td>
                        <td>{{amount.amount}}</td>
                        <td><a href="{% url 'budget-edit' amount.id %}"><button class="edit">Edit</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <h2 class="mx-3">Budget is not set</h2>
        {% endif %}
    </div>
</div>


<script type="text/javascript">
    function checker() {
        var result = confirm("Are you sure you want to delete?");
        if(result==false) {
            event.preventDefault();
        }
    }
</script>

{% endblock content %}