{% extends 'base.html' %}



{% block content %}

<div class="container mt-4"> 

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'usercategory' %}">Category</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Category</li>
        </ol>
      </nav>
    
      <div class="card w-50" style="margin:0 auto;">
        <div class="card-body">
            <form action="{% url 'add-category' %}" method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="">Category</label>
                <input class="form-control form-control-sm" type="text" name="category" value="{{values.amount}}"/>
            </div>    
            <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm"/>
        </form>
        </div>
    </div>
    
</div>
{% endblock %}