{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Category</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Categories</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-3">
            <a href="{% url 'add-category' %}" class="btn btn-secondary"><img src="{% static 'img/add.png' %}" width="30" height="30"> Add</a>
        </div>
    </div>
    <div class="container mt-3">
        {% if usercategories.count %}
        <div><hr></div>
        
        <div class="app-table">
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>Catgory</th>
                        <th>Operations</th>
                    <tr>
                </thead>
                
                <tbody>
                    
                    {% for usercategory in usercategories %}
                    <tr>
                        <td>{{usercategory.usercategory}}</td>
                        <td><a href="{% url 'category-delete' usercategory.usercategory %}"><img src="{% static 'img/delete.png' %}" width="35" height="35"/></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <h4>No category added</h4>
        {% endif %}
    </div>
</div>


{% endblock content %}